<div class="container">
    <h1>Residence List</h1>
    <div class="row">
        <div class="col-3 m-1" *ngFor="let residence of listResidences; let i=index;">
            <div class="card" style="width: 18rem;">
            <img [src]="residence.image" height="200px" class="card-img-top" alt="{{ residence.name }}">
            <div class="card-body">
                <h5 class="card-title"> {{ residence.name }} </h5>
                <p class="card-text"> {{ residence.status}} </p>
                <p class="card-text" *ngIf="residence.showAddress" > {{ residence.address}} </p>
                <a class="btn btn-primary" (click)="showAddress(i)" > 
                    {{ residence.showAddress ? "Hide Location" : "Show Location"}} </a>
            </div>
            </div>
        </div>
    </div>
</div>